@inherits LayoutComponentBase
@inject IOperadorLocalService session
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a @onclick="finalizarESair">Sair</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void finalizarESair()
    {
        session.LimparSessao();

        navigationManager.NavigateTo("/");
    }
}